body {
    text-align: center;
}

#hobby {
    border-radius: 50%;
    padding: 20px;
    width: 100px;
    margin-top: 100px;
}

.bio {
    padding: 5%;
    font-size: 18;
    text-align: center;
}

h1 {
    text-shadow: 2px 2px 8px black;
    font-family: sans-serif;
}

.line {
    height: 6px;
    background-color: #000;
    width: 50px;
    margin: 18px auto;
}
.Head{
    background: linear-gradient(#22c1c3 0%, #fdbb2d 100%);
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 20px;
}
.Menu{
    list-style: none;
    display: inline;
    float: right;
    top: 10px;
    right: 30px;
    z-index: 10px;
    cursor:pointer;
    color: black;
   
    
}
.links{
    float:left;
    color:white;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px; 
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;

}
.links:hover {
    background-color: blue;
}
html{
    scroll-behavior: smooth;
}